#Токен телеграм бота 
TG_TOKEN = CHANGE_ME1

#Токен разработчика на openweather
OPEN_WEATHER_TOKEN = CHANGE_ME2

# URL по которому происходит запрос погоды к openweathermap
URL_API = https://api.openweathermap.org/data/2.5